h1{
    color: white;
    text-decoration: underline;
}
.images{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
body{
    background-color: black;
}
.btn{
    position: absolute;
    top: 80%;
}